{% if users is not defined and leaderboard is defined %}
    {% set users = leaderboard %}
{% endif %}

{% for user in users %}
    <tr>
        <td>{{ user.login }}</td>
        <td>{{ user.rank }}</td>
        <td>{{ user.elo }}</td>
    </tr>
{% endfor %}
