{% extends 'base.html.twig' %}

{% block title %}{{ 'Leaderboard' | trans }}{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container px-6 my-6">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">{{ 'Leaderboard' | trans }}</h1>
            </div>

            <div class="row gx-5 justify-content-center" data-controller="leaderboard"
                 data-leaderboard-url-value="{{ path('leaderboard') }}"
                 data-leaderboard-page-value="1"
                 data-leaderboard-limit-value="{{ constant('App\\Query\\LeaderboardQueryInterface::PAGINATOR_PER_PAGE') }}"
            >
                <div class="col-lg-8 col-xl-8">
                    <table class="table table-dark table-hover">
                        <thead>
                        <tr>
                            <th scope="col">{{ 'Username' | trans }}</th>
                            <th scope="col">{{ 'Rank' | trans }}</th>
                            <th scope="col">{{ 'ELO' | trans }}</th>
                        </tr>
                        </thead>
                        <tbody data-leaderboard-target="body">
                        {% include 'leaderboard/_page-body.html.twig' with {'users': leaderboard} %}
                        </tbody>
                    </table>
                    <div class="d-grid">
                        <button data-action="leaderboard#getNext" class="btn btn-primary btn-lg" id="submitButton"
                                type="submit"><span class="text-white fw-bold">{{ 'GET NEXT' | trans }}</span></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
