{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center py-5">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-emoji-dizzy-fill"></i></div>
        <h1 class="fw-bolder display-1">500</h1>
        <p class="lead fw-normal text-muted mb-0">{{ 'Internal Server Error' | trans }}</p>
    </div>
{% endblock %}