{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-shield-lock-fill"></i></div>
                    <h1 class="fw-bolder">{{ 'Please sign in' | trans }}</h1>
                    <p class="lead fw-normal text-muted mb-0">{{ 'Restricted access' | trans }}</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <form method="post">
                            {% if app.user %}
                                <div class="mb-3">
                                    {{ 'You are logged in as' | trans }} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{{ 'Logout' | trans }}</a>
                                </div>
                            {% endif %}

                            <div class="form-floating mb-3">
                                <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                                       placeholder="Enter your username ..." class="form-control"
                                       autocomplete="username" data-sb-validations="required" required autofocus>
                                <label for="username">{{ 'Username' | trans }}</label>
                                <div class="invalid-feedback"
                                     data-sb-feedback="username:required">{{ 'A username is required' | trans }}.
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" name="password" id="inputPassword" class="form-control"
                                       autocomplete="current-password" data-sb-validations="required" required>
                                <label for="password">{{ 'Password' | trans }}</label>
                                <div class="invalid-feedback"
                                     data-sb-feedback="password:required">{{ 'A password is required' | trans }}.
                                </div>
                            </div>

                            <!-- an error submitting the form-->
                            {% if error %}
                                <div class="text-center text-danger mb-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <!-- Submit Button-->
                            <div class="d-grid">
                                <button class="btn btn-primary btn-lg" id="submitButton"
                                        type="submit">{{ 'Sign in' | trans }}</button>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
