<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <title>🎮WORDS BATTLE: {% block title %}welcome{% endblock %}</title>

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i&display=swap"
              rel="stylesheet"/>
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand p-0 me-2" href="{{ path('homepage') }}">
                <img src="{{ asset('/images/joypad.png') }}" with="40" height="32" alt="Logo"
                     class="d-inline-block align-text-top"> Words Battle
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a
                                class="nav-link{% if app.request.attributes.get('_route') == 'leaderboard' %} active{% endif %}"
                                href="{{ path('leaderboard') }}">{{ 'Leaderboard' | trans }}</a></li>
                    <li class="nav-item"><a
                                class="nav-link{% if app.request.attributes.get('_route') == 'user_search' %} active{% endif %}"
                                href="{{ path('user_search') }}">{{ 'User Search' | trans }}</a></li>
                    <li class="nav-item"><a
                                class="nav-link{% if app.request.attributes.get('_route') == 'match_up' %} active{% endif %}"
                                href="{{ path('match_up') }}">{{ 'Match Up' | trans }}</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-language" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ app.request.locale|locale_name(app.request.locale)|u.title }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-language">
                            <li><a class="dropdown-item" href="{{ path(app.request.attributes.get('_route', 'homepage'), {_locale: 'ru'}) }}">Русский</a></li>
                            <li><a class="dropdown-item" href="{{ path(app.request.attributes.get('_route', 'homepage'), {_locale: 'en'}) }}">English</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block body %}{% endblock %}
</main>
<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0 text-white">Copyright &copy; Words Battle {{ 'now' | date('Y') }}</div>
            </div>
            <div class="col-auto">
                <a class="link-light small" href="#!">Privacy</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Terms</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
